a{
    font-size: 20px;
    color: white;
}
ol{
    font-size: 20px;
    color: white;
    
}
h1{
    color: whitesmoke;
}

img.telfoto{
    display: block;
    height: 90%;
    left: 30%;
    position: absolute;
    top: 1%;
    width: auto;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Whisper', cursive;
}
